body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  background-color: #003844;
}

/* #body_container {
  background: url('./assets/images/body_background.jpg') no-repeat;
  background-size: cover;
} */

#body_container {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('./assets/images/body_background.jpg');
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


footer {
  background-color: #003844;
}